* {
    font-family: 'Lato', sans-serif;
    margin: 0rem;
    font-size: 1rem;
    color: rgba(33, 33, 33, 1);
    line-height: 24px;
}

h1 {
    font-size: 1.75rem;
    color: rgba(33, 33, 33, 0.6);
    font-weight: 500;
    margin: 1.5rem;
}

.parent {
    display: flex;
    background-color: rgba(249, 249, 249, 1);
    width: 100vw;
    min-height: 100vh;
    text-align: center;
}

.content {
    flex-grow: 1;
    margin-left: 17.5rem;
    margin-bottom: 6.25rem;
}