.layoutquery {
    position: fixed;
    bottom: 1.75rem;
    left: 17.5rem;
    width: calc(100% - 17.5rem - 5rem);
    margin: 0 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input { 
    flex-grow: 1;
    margin-right: 0.75rem;
    padding: 0.625rem;
    border-radius: 0.5rem;
    border: 0.125rem solid rgba(33, 33, 33, 0.1);
}

.input:focus {
    border: 0.125rem solid rgba(0, 161, 252, 1);
    outline: none;
}

.input:disabled {
    border: 0.125rem solid rgba(33, 33, 33, 0.1);
}

.miniCTA {
    padding: 0.625rem 0.75rem;
    font-weight: 700;
    border: 0;
    background-color: rgba(0, 161, 252, 1);
    color: rgba(249, 249, 249, 1);
    border-radius: 0.5rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.miniCTA:disabled {
    border: 0;
    background-color: rgba(33, 33, 33, 0.1);
}

.miniCTA:not(:disabled):hover {
    transform: scale(1.01);
    background-color: rgba(7, 135, 208, 1);
    cursor: pointer;
}
